<%- include('partials/_htmlhead'); -%>

<table summary="This table shows the results of the race, including the name of the runner, the number of races run, and the number of points earned">
    <caption>South x 5 Classification After <%= race %></caption>
    <thead>
        <tr>
            <th id="runner" scope="col" class="runner">
                Runner
                <input type="text" class="search-input" id="search-input" name="Search" placeholder="Search..." value="" multiple>
            </th>

            <th id="points" scope="col">Points</th>
            <th id="category" scope="col">
                <label for="category-select">Category</label>
                <select id="category-select" class="category-select">
                    <option value="all">All</option>
                </select>
            </th>
            <th id="generalPosition" scope="col">General Position</th>
        </tr>
    </thead>
    <tbody>
        <% currentGeneralClassification.forEach(function(result) { %>
            <tr>
                <td headers="runner"> <%= result.runner %> </td>
                <td headers="points"> <%= result.points %> </td>
                <td headers="category" class="<%= result.category.startsWith('M') ? 'male' : result.category.startsWith('F') ? 'female' : '' %>"> <%= result.category %> </td>
                <td headers="generalPosition"> <%= result.generalPosition %> </td>
            </tr>
        <% }); %>
    </tbody>
</table>



<%- include('partials/_htmlfoot'); -%>
